body{
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
*{
    font-family:"PT Serif", serif;
}
.header{
    border: 3px solid black; 
    border-top: none;
    border-left: none;
    border-right: none;
}
.sect-two{
    background-color: #ffffff;
}
.navbar{
    display: flex;
    gap: 530px;
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.nav-links{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}
.nav-element{
    font-size: 20px;
    color: black;
    font-weight: 500;
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal;
}
.nav-logo{
    margin-left: 100px;
    font-size: 26px;
    font-family: "PT Serif", serif;
    font-weight: 900;
    font-style: normal;
}
.nav-element:hover{
    text-decoration: underline;
}
.nav-logo:hover{
    text-decoration: underline;
}
.arrow{
    height: 15px;
    width: 15px;
    margin-top: 0px;
}
.sect-one{
    background-color: #FFF5E1;
    margin-top: 0px;
}
.main{
    font-size: 56px;
    margin-top: 10%;
}
.entire-sect{
    margin-left: 13%;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: left;
}
.sub-main{
    font-size: 28px;
}
.image{
    float: right;
    height: 700px;
    width: 650px;
    margin-right: 5%;
}
.btn{
    padding: 12px 20px;
    font-size: 19px;
    font-weight: 600;
    color: rgb(59, 56, 56);
    background-color: white;
    margin-right: 1%;
    border: 2px solid black;
}
.btn_btn{
    padding: 12px 20px;
    font-size: 19px;
    font-weight: 600;
    color: rgb(59, 56, 56);
    background-color: #FFF5E1;
    border: 2px solid black;
}
.btn:hover{
    background-color: rgb(21, 20, 20);
    color: white;
}
.btn_btn:hover{
    background-color: rgb(21, 20, 20);
    color: white; 
}
.whole-sect{
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
}
.divs{
    border: 3px solid rgb(39, 37, 37);
    width: 470px;
    height: 120px;
    margin: 10px;
    padding-bottom: 15px;
}
.align-divs{
    display: flex;
    margin-left: 20%;
}
.btn-sect{
    padding: 12px 20px;
    font-size: 19px;
    font-weight: 600;
    color: rgb(42, 38, 38);
    background-color: #ffffff;
    border: 2px solid black;
}
.btn-sect:hover{
    background-color: rgb(21, 20, 20);
    color: white; 
}
footer{
    background-color: rgb(0, 0, 0);
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: white;
}
.footer-links{
    display: flex;
    gap: 25px;
    margin-left: 32%;
}
.footer-element{
    font-size: 20px;
    color:white;
    font-weight: 500;
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal; 
}
.footer-element:hover{
    text-decoration: underline;
}
.footer-head{
    font-size: 20px;
    color:white;
    font-weight: 500;
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: normal; 
}
.sect{
    font-size: 35px;
    font-weight: 600;
}
.sub-sect, .sub{
    font-size: 30px;
}
.img{
    float: left;
    width: 170px;
    padding-top: 10px;
    
}
.imgs{
    float: left;
    width: 130px;
}
.div-content{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 20px;
}
@media (max-width:600px){
    .navbar{
        width: 600px;
        gap: 1px;
    }
    .nav-links{
        gap: 10px;
        margin-top: 16px;
    }
    .nav-element{
        font-size: 16px;
       
    }
    .nav-logo{
        margin-left: 19px;
        font-size: 18px;
    }
    .main{
        font-size: 30px;
        margin-top: 10%;
    }
    .entire-sect{
        margin-left: 6%;
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: left;
    }
    .sub-main{
        font-size: 22px;
    }
    .image{
        height: 300px;
        width: 250px;
        margin-right: 3em;
        margin-top: 2em;
    }
    .btn{
        padding: 8px 10px;
        font-size: 14px;
    }
    .btn_btn{
        padding: 8px 10px;
        font-size: 14px;
    }
    .sect-one{
        width: 600px;
    }
    body{
        width: 600px;
        margin: 0;
    }
    .sect-two{
        padding-bottom: 4.3em;
    }
    .sect{
        font-size: 27px;
        margin-top: 2em;
    }
    .sub-sect, .sub{
        font-size: 18px;
    }
    .img{
        width: 140px;
        
    }
    .imgs{
        width: 100px;
    }
    .div-content{
        font-size: 18px;
    }
    .btn-sect{
        padding: 8px 10px;
        font-size: 14px;
    }
    .divs{
        width: 470px;
        height: 130px;
        margin: 8px;
        margin-bottom: 36px;
        margin-top: 1em;
    }
    .align-divs{
        margin-left: 0%;
    }
    footer{
        width: 600px;
        margin-bottom: 0;
    }
    .footer-links{
        gap: 15px;
        margin-left: 13%;
    }
    .footer-element{
        font-size: 16px;
 
    }
    .footer-head{
        font-size: 18px;
    }
}
@media (min-width:600px){
    .navbar{
        gap: 20px; 
    }
    .nav-links{
        gap: 20px;
        margin-top: 17px;
    }
    .nav-logo{
        margin-left: 50px;
        font-size: 18px;
    }
    .nav-element{
        font-size: 16px;
    }
    .image{
        height: 400px;
        width: 340px;
        padding-top: 40px;
    }
    .entire-sect{
        margin-left: 9%;
        padding-top: 5%;
    }
    .footer-links{
        margin-left: 15%;
    }
    .align-divs{
        margin-left: 1%;
    }
    .divs{
        height: 140px;
    }
    body{
        margin: 0;
    }
}
@media (min-width: 768px){
    .navbar{
        gap: 130px; 
    }
    .nav-links{
        gap: 20px;
        margin-top: 17px;
    }
    .nav-logo{
        margin-left: 50px;
        font-size: 20px;
    }
    .nav-element{
        font-size: 18px;
    }
    .sect-one{
        padding-bottom: 1em;
    }
    .image{
        height: 400px;
        width: 340px;
        padding-top: 40px;
    }
    .entire-sect{
        margin-left: 9%;
    }
    .footer-links{
        margin-left: 15%;
    }
    .align-divs{
        margin-left: 1%;
    }
    .divs{
        height: 140px;
    }
}
@media (min-width:1024px){
    .navbar{
        gap: 260px; 
    }
    .nav-links{
        gap: 20px;
        margin-top: 26px;
    }
    .nav-logo{
        margin-left: 50px;
    }
    .image{
        height: 550px;
        width: 500px;
    }
    .entire-sect{
        margin-left: 9%;
    }
    .footer-links{
        margin-left: 20%;
    }
    .align-divs{
        margin-left: 1%;
    }
}
@media (min-width:1280px){
    .navbar{
        gap: 530px;
    }
    .align-divs{
        margin-left: 15%;
    }
    .footer-links{
        margin-left: 28%;
    }
    .image{
        float: right;
        height: 700px;
        width: 650px;
        margin-right: 1%;
    }
}